@use "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

@layer base {
    a {
        text-decoration: none;

        &:hover {
            color: var(--primary);
        }

        @apply transition delay-50 duration-300 ease-in-out
    }
}

@theme {
    --color-msprimary: #E2FF55;
    --color-msblack: #000000;
    --color-msgray: #898989;
    --color-mswhite: #FFFFFF;
    --bg-msprimary: #E2FF55;
    --bg-msblack: #000000;
    --bg-msgray: #898989;
    --bg-mswhite: #FFFFFF;
    --text-16: 16px;
    --text-18: 18px;
    --text-20: 20px;
    --text-22: 22px;
    --text-24: 24px;
    --text-26: 26px;
    --text-28: 28px;
    --text-30: 30px;
    --text-32: 32px;
    --text-34: 34px;
}

@utility ms-container {
    max-width: 1336px;
    margin: 0 auto;
    padding: 0 32px;
    width: 100%;
    height: 100%;
    position: relative;
}

@utility ms-btn-primary {
    @apply p-[20px] bg-msprimary text-msblack text-16 font-semibold rounded-[6px] border border-transparent hover:bg-[#d4ff01] transition delay-50 duration-600 ease-in-out inline-block
}

@utility ms-btn-secondary {
    @apply p-[20px] bg-msblack text-msprimary text-16 font-semibold rounded-[6px] border border-[#E2FF55] transition delay-50 duration-600 ease-in-out hover:bg-msprimary hover:text-msblack hover:border-transparent inline-block
}


:root {
    --black: #000000;
    --white: #FFFFFF;
    --primary: #E2FF55;
    --gray: #898989;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 1rem;
    font-family: "Sora", sans-serif;
    background-color: var(--black);
    color: var(--white);
}

%transitionType1 {
    transition: all;
    transition-duration: .6s;
    transition-delay: 50ms;
    transition-timing-function: ease-in-out;
}


%transitionType2 {
    transition: all;
    transition-duration: .3s;
    transition-delay: 50ms;
    transition-timing-function: ease-in-out;
}


.myName {
    position: relative;
}

.myName::after {
    content: '';
    width: 158px;
    height: 3px;
    background-color: var(--primary);
    position: absolute;
    bottom: 0;
    left: 0;
}

.ms-btn {
    white-space: nowrap;

    span {
        display: inline-block;
        margin-left: 10px;

        svg path {
            @extend %transitionType1;
        }
    }
}

.ms-btn-secondary:hover span svg path {
    stroke: var(--black);
}

// Heading styles 

%headingBorder {
    content: '';
    display: inline-block;
    height: 3px;
    width: 30px;
    background-color: var(--primary);
    position: relative;
}

.text-wrapper {
    position: relative;
    text-transform: uppercase;

    h2 {
        color: var(--black);
        -webkit-text-stroke: 1px var(--primary);
        paint-order: stroke fill;
        opacity: 0.5;
    }

    .subText {
        letter-spacing: 0.1em;
        position: absolute;
        width: 100%;
        bottom: 26px;
    }

    .subText::after {
        @extend %headingBorder;
        bottom: 10px;
        left: 8px;
    }

    .subText::before {
        @extend %headingBorder;
        bottom: 10px;
        right: 8px;
    }
}

// Services styles 

.serviceCard,
.projectCard {
    cursor: pointer;
    @extend %transitionType2;

    &:hover {
        box-shadow: 1px -1px 25px -14px var(--primary);
        -webkit-box-shadow: 1px -1px 25px -14px var(--primary);
        -moz-box-shadow: 1px -1px 25px -14px var(--primary);
        border-color: var(--primary);

        h6 {
            @extend %transitionType2;
            color: var(--primary);
        }
    }

}


// Slider styles 

#slider {
    margin-right: 0;
    border-top: 1px solid var(--primary);
    border-bottom: 1px solid var(--primary);
    padding: 35px 0;
    margin-bottom: 6.25rem;
}



@keyframes infiniteScroll {
    from {
        transform: translateX(0)
    }

    to {
        transform: translateX(-50%)
    }
}

.slogan_container {
    width: 100%;
    overflow-x: hidden;
}

.horizontal-scrolling-items {
    font-weight: 200;
    font-size: 90px;
    color: var(--primary);
    display: flex;
    animation-name: infiniteScroll;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.horizontal-scrolling-items__item {
    white-space: nowrap;
}


// Experience styles 

.timeLines {
    .heading {
        position: relative;

        &::before {
            content: '';
            width: 9px;
            height: 9px;
            border-radius: 5px;
            background-color: var(--primary);
            display: block;
            position: absolute;
            top: 19px;
            left: -62px;
            box-shadow: 1px -1px 25px 2px var(--primary);
            -webkit-box-shadow: 1px -1px 25px 2px var(--primary);
            -moz-box-shadow: 1px -1px 25px 2px var(--primary);
        }
    }

    position: relative;

    &::after {
        content: '';
        width: 1px;
        background-color: var(--primary);
        height: 97%;
        position: absolute;
        left: 0px;
        top: 20px;

    }
}


// comming Soon styles 

.commingSoon {
    display: none;
}

@media screen and (max-width: 910px) {
    .commingSoon {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 99999999999;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    body{
        overflow: hidden;
    }
}